.loader {
    display: block;
    position: relative;
    width: 118px;
    height: 160px;
    background-color: #80B918;
    border-radius: 60% 60% 50% 50% / 90% 90% 40% 40%;
    border: 5px solid #235e03;
    transform-origin: 50% 100%;
    animation: 1.5s avocadoRot  infinite ;
  }
  .loader:after{
    content:"";
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 60px;
    height: 65px;
    transform: translateX(-50%);
    background-color: #574309;
    border: 2px solid #322705;
    border-radius: 50% ;
  }
  
  @keyframes avocadoRot {
    0%{    transform: rotate(0deg)}
    100%{    transform: rotate(360deg)}
}
.loader-section {
  zoom: 0.6;
  max-width: 300px;
  margin: auto;
  padding: 80px;
}