* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

h1, h3, h4, h6{
  font-family: 'Montserrat', sans-serif;
}
.errorMessage{
  padding-top: 100px;
  text-align: center;
  color: #80B918;
}

