
.about-text{
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    h1{
        font-size: 45px;
        margin-top: 50px;
    } 
    p {
        font-size: 20px;
        margin: 20px;
    }
}
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 150px;

    .rotate-img {
        transform: rotate(180deg);
    }
    .text-card {
        max-width: 500px;
        text-align: center;
        padding: 30px;
        border: 1px solid #000;
        border-radius: 10px;

        box-shadow: 0px 0px 1px rgb(20 20 20 / 10%), 5px 5px 20px 1px rgb(20 20 20 / 20%);


        h4 {
            font-size: 25px;
            margin-bottom: 20px;
            color: #80B918;
        }

        p {
            font-size: 15px;
        }
    }
}